.titulo{
    border : 4px solid red;
    text-align: center;
    background-color: black;
    color: red;
}

.principal{
    width: 10%;
    margin: 0 auto;
    background-color: #ffe600;
    border: 2px solid #ffe600;
}

.conteudo1{
    color: #000000; 
    background-color: red; 

}

.conteudo2{
    color: red; 
    background-color: black;
}

.main{
    background-color: rgb(255, 0, 0);
    width: 100%;
    overflow: auto;
}

.submain1{
    float:left;
    background-color: red;
    width: 50%;
    height: 250px;
}

.submain1 div{
    height: 115px;
}

.submain2{
    background-color: rgb(47, 0, 255);
    width: 50%;
    height: 250px;
}